
body a{
    text-decoration: none;
}

body li{
    list-style-type: none;
    position: relative;
}

.heading, .dbc_heading{
  color:#29333A;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.heading{
  font-size: 4rem;
}

.dbc_heading{
  font-size: 2.5rem;
}


/*Preloader*/
#preloader{
  background: #D3CFC8 url('images/other/preloader.gif') no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}


/**********************************Navbar Start*****************************************/
.navbar{
  text-transform: uppercase;
  background-color: #000;
}

.navbar ul{
margin-left: auto;
}

.navbar ul li a{
  text-align: center;

}


.navbar-nav li a{
	color:#fff !important;
	font-weight: 400;
	text-transform: uppercase;
	/*float: right;*/
	text-align: center; /*in small device navbar in center */
}


.navbar-nav li a::after{
content: '';
display: block;
width: 0;
height: 1.8px;
background-color: #D5F667;
transition: width .3s;
}
.navbar-nav li a:hover::after{
width: 100%;
}

.navbar-brand{
  padding-left: 30px;
  color:#d5F667;
}


.navbar-toggler .fa-bars{
  color: #fff;
}

.navbar-toggler{
    outline: none !important;
}
/**********************************Navbar End*****************************************/


/**********************************Social Icons start*****************************************/
.icons{
    position: fixed;
    top: 40%;
    left: 0%;
    width:200px;
    display: flex;
    flex-direction: column; 
}

.icons a i{
   margin-left: 20px;
   background-color: white;
   height: 40px;
   width: 40px;
   color:black;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   transition: all 0.5s;
}

.icons a i.fa-facebook-official{ color: #2C80D3; }
.icons a i.fa-instagram{  background: radial-gradient( circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
    );}
.icons a i.fa-twitter{ color: #53c5ff; }

.icons a i.fa-linkedin{ color: #0e76a8; }

.icons a i.fa-github{ color:#333; }



.icons a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size:20px;
  font-family: 'oswald', sans-serif;
  margin: 2px;
  text-align: right;
  border-radius: 0px 50px 50px 0px;
  transform: translate(-130px, 0px);
  transition: all 0.5s;
}

.icons a:hover { transform: translate(0px, 0px); }

.icons a:hover i { transform: rotate(360deg); }
        
.facebook{ background:#2C80D3; }

.youtube{ background: radial-gradient( circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
    );}

.twitter{ background: #53c5ff; }
.linkdin{ background:#0e76a8;; }
.github{ background: #333;; }

.icons a{ color:#fff; }

/**********************************Social Icons End*****************************************/

/**********************************Banner Start*****************************************/

.banner-text h1{
    color:#306AAD;
}

.banner-text p{
    color:#FFFFFF;
    text-transform: capitalize;
    font-size: 15px;
}


/* text animation */

/* text center in bg start*/
.banner-text{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
/* text center in bg end*/
.text-area{
    font-size: 70px;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: bold;
}

.text-area span{
    color:#D5F667;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: animate 5s forwards;

}

.text-area span{
    display: inline-block;
}

.text-area span:nth-of-type(2){ animation-delay: .1s; }
.text-area span:nth-of-type(3){ animation-delay: .2s; }
.text-area span:nth-of-type(4){ animation-delay: .3s; }
.text-area span:nth-of-type(5){ animation-delay: .4s; }
.text-area span:nth-of-type(6){ animation-delay: .5s; }
.text-area span:nth-of-type(7){ animation-delay: .6s; }
.text-area span:nth-of-type(8){ animation-delay: .7s; }

@keyframes animate{
    30%{
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }
    60%{
        transform: translate(0, 20px) rotate(0deg) scale(.8);
    }

    100%{
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

/**********************************Banner End*****************************************/

/**********************************About Me Start*****************************************/

/*Left side start*/
.left{
  padding-left: 140px;
}
.clip-each {
  display: block;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}


.clip-solid {
  width: 250px;
  height: 250px;
  background-image: url("images/other/kirti.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #D5F667;
}


.para h1{
  margin-top:-140px; 
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}

.para h2{
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color:#D5F667;
}

/*Left side End*/

/*Mid Part start*/
.mid{
  margin-top: 10px;
}
.circle {
  position: relative; 
  border: 2px solid #29333A; 
  border-radius: 100%;
   width: 50px; 
   line-height: 50px; 
   text-align: center; 
   margin-top: 50px; 
   background-color: #29333A; 
   z-index: 2;
 }
.circle:first-child {margin-top: 0;}
.circle:before {
  position: absolute; 
  border: 1px solid #29333A; 
  width: 0; height: 50px; 
  display: block; 
  content: ''; 
  left: 50%; 
  z-index: 1; 
  top: -54px; 
  margin-left: -1px;
}
.circle:first-child:before {display: none;}


.circle .fa{
  font-size: 20px;
  color:#fff;
}


/*Mid Part End*/

/*Right Part Start*/

.doveloping-title{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color:#D5F667;
}

.progress-clr{
  background-color: #29333A;
  color:#fff;
}

/*Right Part End*/
/**********************************About Me End*****************************************/

/**********************************Service Start*****************************************/

#services .card{
    width:20rem;
    background-color: #000000 ;
    color:#fff;
    margin-top:100px;
    transition: transform 1s;
    cursor: pointer;
}

#services .service-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #000000 ;
    border: 18px solid #D5F667;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services i{
    font-size: 50px;
}

#services .card-title{
    text-transform: capitalize;
}


#services .card:hover{
    transform: translateY(-40px);
}

#services .card-title{
  color: #D5F667;
  font-weight: 500;
}


/**********************************Service End*****************************************/

/********************Portfolio Start****************************/
/* cart buttons */
.btn-pink {
  color: #D5F667;
  border-color: #D5F667;
}
.btn-black {
  color: #000;
  border-color: #000;
}
.btn-black:hover {
  color: #D5F667;
  background: #000;
}
.btn-pink:hover {
  background: #D5F667;
  color: #000;
}
/* end of cart buttons */

/* items */
.store {
  background:#D3CFC8;
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}

.img-container:hover{
  transform: translate(0, 0);
}


#portfolio .card-body{
  background-color: #000000;
}

#portfolio .card-body h1{
  color: #D5F667;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

#portfolio .card-body p{
  color: #fff;
  text-transform: capitalize;
  font-family: 'Dancing Script', cursive;
}

/*end of items */

#portfolio img, #certificate img{
  width: 100%;
  height: auto;
}

/********************Portfolio End****************************/


/**********************************Testimonials start*************/
#testimonial {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 5rem;
}

#testimonial .heading {
  font-size: 4rem;
  padding-top: 5rem;
  margin: 2rem 0;
  color: #3F3F3F;
  text-align: center;
  position: relative;
}

#testimonial .box-container {
  width: 90%;
}

#testimonial .box-container .box {
  max-width: 60rem;
  background:#000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem;
  margin-left: 5rem;
  padding:3rem 6rem 0 6rem;
  position: relative;
  clear: both;
}

#testimonial .box-container .box img {
  position: absolute;
  top: 50%;
  left: -9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  border: 0.5rem solid #D5F667;
  -webkit-box-shadow: 0 0 5rem #00B894 inset;
          box-shadow: 0 0 5rem #00B894 inset;
  -o-object-fit: cover;
     object-fit: cover;
}

#testimonial .box-container .box .info h2 {
  margin-top: -2.5rem;
  margin: 2rem;
  color:#D5F667;
  text-align: right;
}

#testimonial .box-container .box .info p {
  font-size: 1.5rem;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: normal;
  color:#fff;
}

#testimonial .box-container .box .info p i {
  padding: 0.5rem;
  color:#D5F667;
}

#testimonial .box-container .box:nth-child(even) {
  float: right;
}

/**********************************Testimonials End*****************************************/

/**********************************Contact Start*****************************************/
/*Left Side Start*/
#contact {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#29333A), to(#20333A)), url(./images/other/contact.jpg) no-repeat;
  background: #29333A, url(./images/other/contact.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
}

#contact .heading {
  padding-top: 2rem;
  margin: 1rem 0;
  text-align: center;
  position: relative;
  text-transform: uppercase;
}

#contact form {
  background:#D3CFC8;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 1rem #306AAD;
          box-shadow: 0 0 1rem #306AAD;
}

#contact form .inputBox {
  text-align: center;
  position: relative;
}

#contact form .inputBox input, #contact form .inputBox textarea {
  outline: none;
  padding: 0 1rem;
  height: 4rem;
  width: 90%;
  border-radius: .5rem;
  border: .2rem solid #3F3F3F;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

#contact form .inputBox input:focus ~ h3,
#contact form .inputBox input:valid ~ h3, #contact form .inputBox textarea:focus ~ h3,
#contact form .inputBox textarea:valid ~ h3 {
  top: -1rem;
  left: 5.9%;
  color:#306AAD;
}

#contact form .inputBox input:focus, #contact form .inputBox textarea:focus {
  border-color: #306AAD;
}

#contact form .inputBox textarea {
  resize: none;
  padding: 1rem;
  height: 10rem;
}

#contact form .inputBox input[type="SUBMIT"] {
  border: none;
  background:#29333A;
  color: #fff;
}

#contact form .inputBox input[type="SUBMIT"]:hover {
  background: #D5F667;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#contact form .inputBox h3 {
  position: absolute;
  top: 3rem;
  left: 8%;
  text-transform: capitalize;
}

/*Left Side End*/


/*Right Side Start*/

#contact .contact-detail{
  background:#D3CFC8;
  width:600px;
  height: 700px;
   border-radius: .5rem;
  -webkit-box-shadow: 0 0 1rem #306AAD;
          box-shadow: 0 0 1rem #306AAD;
}

#contact .contact-detail .fa{
  font-size: 40px;
  color:#D5F667;
}

#contact address{
  text-align: center;
  margin-top: 20px;
}

#contact address h3{
  color:#29333A;
  font-size: 20px;
  font-weight: 600;
}

#contact address a{
  text-decoration: none;
  color: #306AAD;
}

#contact address hr{
  height: 0.5rem;
  color: #FFFFFF;
}

/*Right Side End*/

/**********************************Contact End*****************************************/

/**********************************Footer Start*****************************************/
#footer{
  width: 100%;
}
footer .fa{
  color:#D5F667;
  font-size: 30px;
}

footer p{
  color:#D5F667;
  height: auto;
}

/*Footer Icons*/

/**********************************Footer End*******************************************/



/**********************************Responsive Start*******************************************/

/*******Common******/

@media only screen and (max-width: 320px){
	.heading{font-size: 2rem; }
  .icons{ display: none;}
}

@media only screen and (max-width: 576px){
	.heading{font-size: 2rem; }
}


/******Banner******/

@media only screen and (max-width: 576px){
.banner-text{ top: 50%;  left: 50%;}  
.text-area{ font-size: 35px;}
.banner-text h1{ font-size: 20px;  }
.banner-text p{ font-size: 10px;  }
}


@media only screen and (max-width: 768px){
.banner-text{ top: 50%;  left: 50%;}  
.text-area{ font-size: 30px;}
.banner-text h1{ font-size: 20px;  }
.banner-text p{ font-size: 10px;  }
}

/***About****/
@media only screen and (max-width: 320px){ 
  .text-area span{
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 576px){ 
  #profile .wrap{margin-left: 130px;}
 #profile p{ margin-left: 70px; }
 #profile h1, h2{ text-align: center;}
 #profile .right{ margin-left: 50px;}
}

@media only screen and (max-width: 767px){
	.mid{display: none;}
}

@media only screen and (max-width: 768px){
	.left{ padding-left: 0; }
	.para h1{font-size: 25px; padding-left: 25px;}
	.para h2{font-size: 15px; font-weight: 600; padding-left: 10px;}
	.para p{font-size: 15px;}
	.doveloping-title{ font-size: 18px; }
	.mid{ padding-left: 4rem;} 
}

/***Services***/

/***portfolio***/

/***certificates***/
@media only screen and (max-width: 320px){
	#certificate .card{ width: 15rem; }
}

@media only screen and (max-width: 576px){
	#certificate .card {width: 25rem; }
}

/***Testimonals***/
@media (max-width: 576px) {

	#testimonial .box-container .box {
		padding: .5rem;
		margin-top: 13rem;
		margin-left: 0;
		margin-right: 0;
	  }
	  #testimonial .box-container .box img {
		left: 50%;
		-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
		top: -30%;
		height: 15rem;
		width: 15rem;
	  }
	  #testimonial .box-container .box .info {
		text-align: center;
	  }
	  #testimonial .box-container .box .info p {
		padding-top: 9rem;
	  }
	  #testimonial .box-container .box .info h2 {
		text-align: center;
		margin: 1.5rem;
	  }
	  #testimonial .box-container .box:nth-child(even) {
		float: none;
	  }
}

@media only screen and (max-width: 768px){
	#testimonial p{ margin-left: 30px;}
}


/****contact***/
@media only screen and (max-width: 576px){
	#contact .contact-detail{ width:350px; }
	#contact .contact-form{width:350px;}
}

@media only screen and (max-width: 768px){
	#contact .contact-detail{ width:350px;  }
	#contact .contact-form{width:350px;}
}

/**********************************Responsive End*******************************************/
